/* Auth css */
.authForm{
	width: 20rem;
	max-width: 40%;
	margin: 6rem auto;
	transform: scale(1.4);
}

#formActions svg {
	width: 1.8rem;
	margin-top: .2px;
}

#submitButton:hover svg,
#switchButton:hover svg {
	color: var(--bg-nav-hover);
	transform: scale(1.2);
	transition: var(--svg-transition-time) ease-in-out;
}
