/* Auth css */
.authForm{
	width: 20rem;
	max-width: 40%;
	margin: 6rem auto;
	transform: scale(1.4);
}

.formHolder {
	display: flex;
	justify-content: space-around;
	margin-bottom: 0.5rem;
}

.formActions {
	margin: .25rem 0;
	margin-left: 2rem;
	display: inline-flex;
	transform: translateX(15%);
}

.formHolder svg {
    width: 1.5rem;
    min-width: 1rem;
    margin-right: 0.5rem;
}

.formHolder input {
	width: 100%;
	display: block;
	border: none;
	border-bottom: 2px solid var(--border-color);
	border-radius: 0px 0px 3px 3px;
	background: var(--bg);
	color: currentColor;
	background: transparent;
}

.dummy svg {
	color: transparent;
}

.formActions button {
	background: transparent;
	font: inherit;
	color: currentColor;
	border: none;
	padding: 0;
	margin-right: 1rem;
	cursor: pointer;
}

.formActions svg {
	color: var(--bg-nav);
	width: 2.1rem;
	transition: var(--svg-transition-time) ease-in-out;
}

#submitIcon {
	transform: translateX(80%);
}

#submitButton:hover svg,
#submitButton:active svg {
	color: var(--bg-nav-hover);
	transform: translateX(100%);
	transition: var(--svg-transition-time) ease-in-out;
}

#signIcon {
	transform: translateX(1px);
}

#switchButton svg {
	width: 1.8rem;
	margin-top: .2px;
}

#switchButton:hover #registerIcon {
	color: var(--bg-nav-hover);
	transform: scale(1.2) translateX(2px);
	transition: var(--svg-transition-time) ease-in-out;
}

#switchButton:hover #signIcon {
	color: var(--bg-nav-hover);
	transform: translateX(-1px) rotate(-360deg);
	transition: var(--svg-transition-time) ease-in-out;
}
