/* Auth css */
.authForm{
	width: 20rem;
	max-width: 40%;
	margin: 6rem auto;
	transform: scale(1.4);
}

#submitIcon {
	transform: translateX(80%);
}

#submitButton:hover svg,
#submitButton:active svg {
	color: var(--bg-nav-hover);
	transform: translateX(100%);
	transition: var(--svg-transition-time) ease-in-out;
}

#signIcon {
	transform: translateX(1px);
}

#switchButton svg {
	width: 1.8rem;
	margin-top: .2px;
}

#switchButton:hover #registerIcon {
	color: var(--bg-nav-hover);
	transform: scale(1.2) translateX(2px);
	transition: var(--svg-transition-time) ease-in-out;
}

#switchButton:hover #signIcon {
	color: var(--bg-nav-hover);
	transform: translateX(-1px) rotate(-360deg);
	transition: var(--svg-transition-time) ease-in-out;
}
