.eventForm {
	width: 20rem;
	max-width: 40%;
	margin: 4rem auto;
	transform: scale(1.4);
}

#eventCreateButton {
	float: right;
	margin-right: 10vw;
	padding: 8px;
	width: 3.5rem;
	transition: var(--svg-transition-time) ease-in-out;
}

#eventCreateButton:hover {
	color: var(--bg-nav-hover);
	border-color: var(--text);
	transform: scale(1.2);
	cursor: pointer;
}

.listedEvents {
	width: 40rem;
	max-width: 80%;
	margin: 2rem auto;
	list-style: none;
	padding: 0;
}

.anEvent {
	margin: 1rem 0rem;
	padding: 1rem;
	border: 1px solid currentColor;
}