/* Modal css */
.someModalForm {
	z-index: 5;
	width: 40vw;
	min-width: 40vw;
	max-height: 80vh;
	border: 1px solid currentColor;
	position: fixed;
	top: 25vh;
	left: 30vw;
	background: var(--bg);
}

.modalHeader {
	height: 5vh;
	width: 100%;
	background: var(--bg-nav);
	color: currentColor;
	font-size: 1.5rem;
	text-align: center;
	flex-direction: column;
	display: flex;
	justify-content: space-around;
}

.modalActions {
	display: flex;
	justify-content: flex-end;
	padding: 1rem;
}

.modalActions button {
	margin-right: 3vw;
	padding: 8px;
	width: 3.5rem;
	transition: var(--svg-transition-time) ease-in-out;
	margin-right: 2vh;
}

.modalActions button:hover{
	color: var(--bg-nav-hover);
	transform: scale(1.2);
	cursor: pointer;
}