/* Navbar css */
.navbar {
	background: var(--bg-nav);
	color: var(--text);
	z-index: 1;
}

.navbar a:hover,
.navbar a.active,
.navbar button:hover,
.navbar button.active {
	color: var(--bg-nav-hover);
	cursor: pointer;
}

.navItems {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100%
}

/* Dropdown */
.dropdown {
	position: absolute;
	opacity: 0;
	z-index: 2;
	background: var(--bg-dropdown);

	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0.5rem;

	box-shadow: 0px 0.175rem 0.25em rgba(2, 8, 20, 0.1);
	transition: opacity .15s ease-out;
}

.hasDropdown:focus-within .dropdown {
	opacity: 1;
}

/* Header css */
.navbarContainer header {
	padding: 1em;
	background: var(--bg-nav);
	margin-bottom: 1em;
	padding-bottom: 3.5em;
	text-align: center;
	clip-path: polygon(50% 0%, 100% 0%, 100% 55%, 70% 90%, 50% 100%, 30% 90%, 0% 55%, 0% 0%);
	font-size: 0.8vw;
	height: 65%;
}

.navbarContainer header img {
	height: auto;
	max-width: 100%; 
    transition: 500ms ease-in-out
}

.light .navbarContainer header img {
	filter: invert(1);
	transition: 500ms ease-in-out
}

.navbarContainer header h1 {
	font-size: 28px;
}

.navbarContainer header p {
	font-size: 20px;
}

/* SVG css */
.navItem svg {
  	width: 2rem;
 	min-width: 2rem;
}

.navbar .primaryColor {
	opacity: .5;
}

.navbar .secodaryColor {
	opacity: .2;
}

.navItem a:hover .primaryColor,
.navItem button:hover .primaryColor {
	opacity: 1;
	transition: var(--svg-transition-time) ease-in-out;
}

.navItem button:hover .secondaryColor {
	opacity: .5;
	transition: var(--svg-transition-time) ease-in-out;
}

#dark:hover .primaryColor {
	color: black;
}

#light:hover .primaryColor {
	color: white;
}

#light:hover .secondaryColor {
	color: var(--bogyellow);
}

#default:hover .secondaryColor {
	color: var(--bg-nav-hover);
}

#dark:hover .primaryColor,
#light:hover .primaryColor,
#light:hover .secondaryColor,
#default:hover .secondaryColor {	
	opacity: 1;
	transition: var(--svg-transition-time) ease-in-out;
}

#default:hover .primaryColor {
	color: lightgrey;
	opacity: .5;
	transition: var(--svg-transition-time) ease-in-out;
}

/* Small screens */
@media only screen and (max-width: 600px){
	.navbarContainer header h1,
	.navbarContainer header p {
		display: none;
	}

	.navbar {
		right: 0;
		width: 10vw;
		height: 100vh;
		position: fixed;
	}

	.navItems,
	.dropdown {
		flex-direction: column;
	}

	.dropdown {
		height: 30vh;
		border-right: 2px solid var(--border-color);

		border-bottom-left-radius: 8px;
		border-top-left-radius: 8px;
		padding-right: 1.2rem;

		right: 12vw; 
		top: 34.15vh;
		width: 3rem;
	}

	.dropdown a {
		padding: 0;
		border-radius: 0;
		clip-path: none;
	}

	.hasDropdown button {
		margin-left: 7px;
	}

	.dropdown a:hover,
	.dropdown button {
		background: none;
	}
}

/* Avergae screens */
@media only screen and (max-width: 950px){
	.navbarContainer header h1,
	.navbarContainer header p {
		font-size: 10px;
		margin: 0;
	}

	.navbarContainer header img {
		width: 160px;
		height: 160px;
	}
}

/* Large screens */
@media only screen and (min-width: 600px){
	.navbar {
		top: 0;
		width: 100%;
		height: 10vh;
	}

	.navbar a:hover,
	.navbar button:hover {
		background: var(--bg);
	}

	.navItem a,
	.navItem button {
		padding: 55px 55px 20px 55px;
		clip-path: polygon(50% 0%, 100% 0%, 100% 55%, 70% 90%, 50% 100%, 30% 90%, 0% 55%, 0% 0%);
	}

	.navItem button {
		transform: translateY(-15%);
	}

	.dropdown {
		flex-direction: row;
		width: 20vw;
		border-top: 2px solid var(--border-color);

		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
		padding-top: 1.2rem;

		top: 10vh;
		left: 39.6vw;
		height: 3rem;
	}

	.dropdown button {
		padding: 0;
		border-radius: 0;
		clip-path: none;
		background: transparent;
	}

	.dropdown a:hover,
	.dropdown button:hover {
		background: none;
	}
}