/* Navbar css */
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: currentColor;
	text-decoration: none;
}

.navbar {
	background: var(--bg-nav);
	color: var(--text);
}

.navbar a:hover {
	color: var(--bg-nav-hover);
	transition: 300ms ease-in-out;
}

.navItems {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100%
}

.hidden {
	display: none;
}

.themeIcon {
	position: relative;
	left: 5px;
}

/* Dropdown */
.dropdown {
	position: absolute;
	opacity: 0;
	z-index: 2;
	background: var(--bg-dropdown);

	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0.5rem;

	box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175rem 0.5em;

	transition: opacity .15s ease-out;
}

.hasDropdown:focus-within .dropdown {
	opacity: 1;
	pointer-events: auto;
}

.dropdownItem a {
	width: 100%;
	height: 100%;
	size: 0.7rem;
}

/* Header css */
header {
	padding: 1em;
	background: var(--bg-nav);
	margin-bottom: 1em;
	padding-bottom: 3.5em;
	text-align: center;
	clip-path: polygon(50% 0%, 100% 0%, 100% 55%, 70% 90%, 50% 100%, 30% 90%, 0% 55%, 0% 0%);
	font-size: 0.8vw;
}

header img {
	max-width: 100%; 
    height: auto;
    transition: 500ms ease-in-out
}

.light img {
	filter: invert(1);
	transition: 500ms ease-in-out
}

/* SVG css */
.navItem svg {
  	width: 2rem;
 	min-width: 2rem;
}

.primaryColor {
	opacity: .5;
}

.secodaryColor {
	opacity: .2;
}

.navItem a:hover .primaryColor {
	opacity: 1;
	transition: var(--svg-transition-time) ease-in-out;
}

.navItem a:hover .secondaryColor {
	opacity: .5;
	transition: var(--svg-transition-time) ease-in-out;
}

#dark:hover .primaryColor {
	color: black;
	opacity: 1;
	transition: var(--svg-transition-time) ease-in-out;
}

#light:hover .primaryColor {
	color: white;
	opacity: 1;
	transition: var(--svg-transition-time) ease-in-out;
}

#light:hover .secondaryColor {
	color: var(--bogyellow);
	opacity: 1;
	transition: var(--svg-transition-time) ease-in-out;
}

#default:hover .primaryColor {
	color: lightgrey;
	opacity: .5;
	transition: var(--svg-transition-time) ease-in-out;
}

#default:hover .secondaryColor {
	color: var(--bg-nav-hover);
	opacity: 1;
	transition: var(--svg-transition-time) ease-in-out;
}

/* Small screens */
@media only screen and (max-width: 600px){
	.navbar {
		right: 0;
		width: 10vw;
		height: 100vh;
		position: fixed;
		z-index: 1;
	}

	.navItems {
		flex-direction: column;
	}

	.dropdown {
		flex-direction: column;
		height: 30vh;
		border-right: 2px solid var(--border-color);

		border-bottom-left-radius: 8px;
		border-top-left-radius: 8px;

		right: 12vw; 
		transform: translateY(-53.2%);
		width: 3rem;
	}

	.dropdown a {
		padding: 0;
		border-radius: 0;
		clip-path: none;
	}

	.dropdown a:hover {
		background: none;
	}
}

/* Large screens */
@media only screen and (min-width: 600px){
	.navbar {
		top: 0;
		width: 100%;
		height: 10vh;
	}

	.navbar a:hover {
		background: var(--bg);
	}

	.navItem a {
		padding: 55px 55px 20px 55px;
		clip-path: polygon(50% 0%, 100% 0%, 100% 55%, 70% 90%, 50% 100%, 30% 90%, 0% 55%, 0% 0%);
	}

	.dropdown {
		flex-direction: row;
		width: 60vw;
		border-top: 2px solid var(--border-color);

		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
		margin-top: 2rem; 

		right: 7vw;
		height: 3rem;
	}

	.dropdown a {
		padding: 0;
		border-radius: 0;
		clip-path: none;
	}

	.dropdown a:hover {
		background: none;
	}
}