/* Global css */
body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	color: var(--text);
	background: var(--bg);
	transition: background 500ms ease-in-out, color 500ms ease-in-out;
}

/* Themes */
:root {
	--gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;

    --blue: #0084a5;
    --purple: #a82dd1;
    --yellow: #fff565;

    --cblue: #102F72;
    --awhite: #DDDBF1;
    --regalia: #543173;
    --burgundy: #422040;
    --bogyellow: #E7AE05;
}

.dark {
	--bg: var(--gray5);
    --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
    --bg-nav-hover: var(--awhite);
    --bg-dropdown: var(--gray6);
    --text: var(--gray0);
    --border-color: var(--purple);
    --bg-solar: var(--blue);
}

.light {
	--bg: var(--gray0);
    --bg-nav: linear-gradient(to right, var(--gray1), var(--gray3));
    --bg-nav-hover: var(--burgundy);
    --bg-dropdown: var(--gray0);
    --text: var(--gray6);
    --border-color: var(--blue);
    --bg-solar: var(--yellow);
}

.default {
	--blue: var(--cblue);
	--purple: var(--regalia);
	--yellow: var(--bogyellow);
}