/* Global css */
body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif !important;
    -webkit-font-smoothing: antialiased;
	color: var(--text);
	background: var(--bg);
	transition: background 500ms ease-in-out, color 500ms ease-in-out;
}

/* Themes */
:root {
	--gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;

    --blue: #0084a5;
    --purple: #a82dd1;
    --yellow: #fff565;

    --powder: #B5DFE2;
    --scarlet: #5C0029;
    --regalia: #543173;
    --bogyellow: #E7AE05;

    --svg-transition-time: 150ms;
}

.dark {
	--bg: var(--gray5);
    --bg-nav: var(--gray6);
    --bg-nav-hover: var(--bogyellow);
    --bg-dropdown: var(--gray6);
    --text: var(--gray0);
    --border-color: var(--purple);
    --bg-default: var(--scarlet);
}

.light {
	--bg: var(--gray0);
    --bg-nav: var(--gray3);
    --bg-nav-hover: var(--scarlet);
    --bg-dropdown: var(--gray0);
    --text: var(--gray6);
    --border-color: var(--powder);
    --bg-default: var(--bogyellow);
}

.default {
	/* Pick your own theme for the site by changing the gray variables */
}

/* Forms general styling */
.formHolder {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5rem;
}

.formActions {
    margin: .25rem 0;
    margin-left: 2rem;
    display: inline-flex;
    transform: translateX(15%);
}

.formHolder svg {
    width: 1.5rem;
    min-width: 1rem;
    margin-right: 0.5rem;
}

.formHolder input,
.formHolder textarea {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 2px solid var(--border-color);
    border-radius: 0px 0px 3px 3px;
    background: var(--bg);
    color: currentColor;
    background: transparent;
    max-height: 10vh;
}

textarea {
    min-width: 100%;
    min-height: 3vh;
}

.dummy svg {
    color: transparent;
}

.formActions button {
    background: transparent;
    font: inherit;
    color: currentColor;
    border: none;
    padding: 0;
    margin-right: 1rem;
    cursor: pointer;
}

.formActions svg {
    color: var(--bg-nav);
    width: 2.1rem;
    transition: var(--svg-transition-time) ease-in-out;
}

/* Special case classes */
.hidden {
    display: none;
}

.shiftedIcon {
    position: relative;
    left: 5px;
}

/* Custom slider */
body::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

body::-webkit-scrollbar-thumb {
	background: var(--bg-nav-hover);
}

body::-webkit-scrollbar-track {
	background: var(--bg-dropdown);
}

/* Getting rid of the ugly blue boxes */
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

/* Date picker */
::-webkit-datetime-edit { }
::-webkit-datetime-edit-fields-wrapper { background: var(--bg); }
::-webkit-datetime-edit-text { color: currentColor; }

::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field { 
    color: currentColor; opacity: .4; 
}

::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: transparent; }